<ui-checkbox label="Checkbox"></ui-checkbox>
<ui-delete-button label="Delete"></ui-delete-button>
<ui-loadbar></ui-loadbar>
<ui-save-button label="Save"></ui-save-button>
<ui-close-button label="Cancel"></ui-close-button>
<button uiButton="primary">kiscica nogost</button>
<button uiButton="primary" ghost>kiscica primary ghost</button>
<button uiButton="secondary" ghost>kiscica sec ghost</button>
<button uiButton="default" ghost>kiscica def ghost</button>
<button uiButton="success" ghost>success kiscica def ghost</button>
<button uiButton="info" ghost>info kiscica def ghost</button>
<button uiButton="warning" ghost icon="check">warning kiscica def ghost</button>
<button uiButton="white" ghost icon="check">white kiscica def ghost</button>
<button uiButton="error" ghost>
  <span uk-icon="icon: check"></span>error kiscica def ghost</button>
<button uiButton="default">kiscica def no ghost</button>
<button uiButton="danger" ghost>kiscica danger ghost</button>
<ui-select-button [options]="[{value:'MALE', label:'male'}, {value:'FEMALE', label:'Female'}]"></ui-select-button>
